@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';
@import '../../../../blue-admin-vue-components/src/Table/Table/Style.scss';
@import '../../../../blue-admin-vue-components/src/Table/CreateButton/Style.scss';

table {
    color: $adevarul-text-color;
}

.card-header-bg {
    background-color: $adevarul-page-bg;
    border-bottom: 0.1rem solid $adevarul-primary;
}

.card-header {
    color: $adevarul-text-color;
}

.btn-create {
    color: $white;
    background-color: $adevarul-text-color;
}

.btn-create:hover {
    color: $white;
    opacity: 0.8;
}

.card-body-header {
    background-color: $adevarul-sidebar-bg;
    border-bottom: 0.1rem solid $adevarul-border-color;
}

.active {
    color: $adevarul-primary;
}