@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';

.form-item.form-group label {
    margin-bottom: 0.5rem;
}

.form-item.form-group {
    margin-bottom: 1rem;
}

button.btn-form {
    background-color: $adevarul-text-color;
}
