@import '../styles/variables';
@import '../../../blue-admin-vue-components/src/AdminPage/Style.scss';

.content-wrapper {
    background-color: $adevarul-page-bg;
    color: $adevarul-text-color;
    font-family: $font-family-sans-serif;
}
